{%extends "../sitio/base.html"%}
{%block title%}
Registro
{%endblock%}
{%block content%}

{% if form.errors %}
<p>Nombre de usuario o contraseña incorrectos. Intente nuevamente</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Su cuenta no tiene permiso para esta zona del sitio.</p>
    {% else %}
    <p>Por favor debe registrarse para ver esta p&aacutegina</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Ingresar" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}


{%endblock%}
