{% load static %}
<!DOCTYPE>
<html lang="es-AR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link  href="{% static "sitio/bootstrap/css/bootstrap.min.css" %}"  rel="stylesheet">
    <link  href="{% static "sitio/css/estilo.css" %}"  rel="stylesheet">
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>MAYVA | {%block title%}{%endblock%}</title>
  </head>
  <body>
   
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/criadero">MAYVA</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/criadero/postura">Postura</a>
          </li>
          <li>
            <a href="/criadero/registros">Estadísticas</a>
          </li>
          <li>
            <a href="/criadero/contacto">Contacto</a>
          </li>
{%if user.is_authenticated %}
          <li>
            <a href="/cuentas/logout">Salir</a>
          </li>
{%endif%}
        </ul>
      </div>
      </div>
    </nav>
 <header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" display="block">
        <h1 class="page-header" align="center"><img src="{% static "sitio/img/logo.png" %}" width="100px"  height="100px"> MAYVA <small>{% block header %}{% endblock %}</small>
        </h1>
      </div>
    </div> 
  </div>  
 </header>
 <aside>
  <div class="">
  </div>
  </aside>
    <div class="container">      
      {%block content%}
      {%endblock%}
    </div>
    <footer>
    <p> Una empresa Familiar</p>
    <p>Zona Rural | Timbúes | Santa Fe | Argentina </p>
		{%if user.is_authenticated%}
		<p>Hospedado en {{sistema}}</p>
		{%endif%}
		{%block footer%}

		{%endblock%}
    </footer>
    <script src="{% static "sitio/bootstrap/js/jquery.js" %}"></script>
    <script src="{% static "sitio/bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
