
<h1>POSTURAS</h1>

{% for galpon,planteles in galpones.items %}
<h3>{{galpon}}</h3>
<table cellspacing="3cm", border width='60%' >  
  <tr>
    <td></td>
    {% for plantel in planteles %}
      <td >{{plantel}}</td>
    {%endfor%}
  </tr>    
  {% for fecha,dict in posturas.items %}
    <tr>  
      <td>{{fecha}}</td>
      {%for plantel,postura in dict.items%}
        {%if plantel in planteles%}
          <td align='right'>{{postura}}</td>
        {%endif%}
      {%endfor%}
    </tr>
    
  {%endfor%}
</table>
{%endfor%}
