body { background-color: #ffffff ;
}
.navbar-inverse{
  border-color: forestgreen;
  background-color: forestgreen;
}
header{
  padding: 40px;
  padding-bottom: 0px;

}
header h1{
  font-size: 40px;
}
.page-header small{
  font-size:80%;
}

header img{
  width: 110px;
  height: 130px;
}
div{
  padding: 1px;
  font-size: 20px;
  border-color: forestgreen;
}
.navbar-brand{
  
  color: red;
  font-size: 35px;
}
.navbar-inverse .navbar-brand{
  color: black;
}
.navbar-inverse .navbar-nav >li >a{
  color: black;
}
.registros{
  cellspacing: 3cm;
 border-width: 60%;
  
}
<<<<<<< HEAD
=======
legend{
  border-bottom: solid;
  border-color: #337ab7;
}

>>>>>>> 265a4a7a1524d0c1335caeb010ba3822a0435132
